.cont-questionCard .cont-time-index-points{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(146, 204, 255);
}
.cont-title-options{
   text-align: center;
   
}
.cont-questionCard .cont-time-index-points .time{
    border-radius: 20px;
    padding: 5px 10px;
    background-color: aliceblue;
    border: 1px solid;
    
}
.cont-options{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cont-options input{
    margin: 10px 0;
    font-weight: bold;
    background: aliceblue;
}

.cont-options input:hover{
    border: rgb(0, 133, 249) 2px solid;
}

.option-correct{
    color: green;
    border-color: green;
}
.option-incorrect{
    color: red;
    border-color: red;
}