/*Acá va:
. Centrado
. Fondo
. Card principal
. Layout general*/

*{
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}

.container{
   font-size: 18px;
   margin: auto;
   overflow-wrap: break-word;
   
}
body{
   margin: auto;
   background-color: rgb(223, 238, 250);

}
.cont-components{
   margin: auto;
   width: 90%;
   margin-top: 20px;
   @media(min-width: 400px){
     width: 80%;
   }
   @media(min-width: 600px){
      width: 60%;
    }
   @media(min-width: 900px){
      width: 50%;
    }
    
}

.cont-title-menu{
   display: flex;
   color: rgb(146, 204, 255);
   background-color: rgb(23, 43, 98);
   justify-content:space-around;
   box-shadow: 3px 3px 3px black;
   position: relative;
   z-index: 3;
}

.cont-title{
   display: flex;
   justify-content: center;
   align-items: center;
}
.cont-title img{
   width: 40px;
}
h1{
  margin-left: 5px;
}
.h1-link{
   text-decoration: none; /* Quita el subrayado [1] */
    color: inherit;       /* Usa el color del texto padre [6] */
  
}


input, select{
   width:95%;
   padding: 10px;
   border: 2px solid rgb(146, 204, 255);
   border-radius: 8px;
   font-size: 18px;
   cursor: pointer;
   overflow-wrap: break-word;
   word-wrap: break-word;
   transition: all 0.5s ease;
   
   box-sizing: border-box;
}

input:focus, input:active {
  transform: scale(1.1);
}

.cont-menu{
   display: flex;
   flex-direction: column;
   align-items: center;
   position: absolute;
   top:90px;
   right: 0;
   width: 100%;
   height: 70%;
   background-color: rgb(23, 43, 98);
   box-shadow: 2px 2px 2px black;
   z-index: 2;
   color: aliceblue;
   transition: all 0.5s ease;
   padding-bottom: 8px;

   @media(min-width: 600px){
      width: 18%;
      height: auto;
    }
}
.cont-menu .link{
   transition: all 0.5s ease;
   cursor: pointer;
   color: aliceblue;
   text-decoration: none;
   margin-top:10px;
   font-size: 20px;
}

.cont-menu .link:active {
  transform: scale(1.5);
}
.menu-burg-icon{
   width: 30px;
   height: 40px;
   align-self:center;
   margin-bottom: -4px;
   transition: all 0.5s ease;
   cursor: pointer;
}

.menu-burg-icon:focus, .menu-burg-icon:active {
  transform: scale(2);
}
