/*Acá va:
. Centrado
. Fondo
. Card principal
. Layout general*/

*{
   /*font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif*/
   font-family: 'Open Sans', 'Helvetica Neue', sans-serif
}

.container{
   font-size: 18px;
   margin: auto;
   overflow-wrap: break-word;
}
body{
   margin: auto;
   background-color: rgb(250, 250, 229);
}
.cont-components{
   margin: auto;
   width: 90%;
   @media(min-width: 400px){
     width: 80%;
   }
   @media(min-width: 600px){
      width: 60%;
    }
   @media(min-width: 900px){
      width: 50%;
    }
    
}
.cont-title{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: aliceblue;
}
.cont-title img{
   width: 40px;
   
}
h1{
  margin-left: 5px;
}

input, select{
   width:95%;
   padding: 10px;
   border: 2px solid rgb(146, 204, 255);
   border-radius: 8px;
   font-size: 18px;
   cursor: pointer;
   overflow-wrap: break-word;
   word-wrap: break-word;
   transition: all 0.5s ease;

}

/* Efecto al hacer clic (focus) */
input:focus{
  transform: scale(1.1);
  
}